# SPDX-License-Identifier: MIT

config BOARD_ENABLE_DCDC
	bool "Enable DCDC mode"
	select SOC_DCDC_NRF52X
	default y
	depends on BOARD_ZAPHOD

if ZMK_DISPLAY

config ZAPHOD_HOSTNAME_0
    string "Hostname for Bluetooth profile 0"
    default "macbook"

config ZAPHOD_HOSTNAME_1
    string "Hostname for Bluetooth profile 1"
    default "iphone"

config ZAPHOD_HOSTNAME_2
    string "Hostname for Bluetooth profile 2"
    default "android"

config ZAPHOD_HOSTNAME_3
    string "Hostname for Bluetooth profile 3"
    default "PC"

config ZAPHOD_HOSTNAME_4
    string "Hostname for Bluetooth profile 4"
    default "TV-box"

menuconfig ZAPHOD_BONGO_CAT
    bool "Show WPM bongo cat"
    select ZMK_WPM
    select LV_USE_IMG
    select LV_USE_ANIMATION

if ZAPHOD_BONGO_CAT

config ZAPHOD_BONGO_CAT_IDLE_LIMIT
    int "Upper limit for WPM for showing idle animation"
    default 30

config ZAPHOD_BONGO_CAT_SLOW_LIMIT
    int "Upper limit for WPM for showing slow typing image"
    default 60

endif # ZAPHOD_BONGO_CAT


endif
